<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Flask + CAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar-content">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="top-navbar-content">
    <div class="navbar-nav mr-auto">
      <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
      <a class="nav-link" href="{{ url_for('about') }}">About</a>
      <a class="nav-link" href="{{ url_for('form') }}">Form</a>
    </div>

    <div class="navbar-nav">
      {% if logged_in %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          Logged in as <b>{{ username }}</b>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/cas/logout">Logout</a>
        </div>
      </div>
      {% else %}
      <a class="nav-link" href="/cas/login">Login with CAS</a>
      {% endif %}
    </div>
  </div>
</nav>