{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, officiis omnis? Veniam dicta suscipit laboriosam
    culpa similique magnam vel. Quae fugiat illo corporis veniam, nam iusto, nesciunt nulla eos alias magni
    exercitationem nostrum? Et deleniti officia nesciunt debitis sequi fugit unde quae vel cum! Fuga dolorum eos, qui
    repellat sequi, repellendus totam incidunt minima ipsam corrupti nostrum numquam quod quos corporis iusto vitae
    consequuntur veritatis ut? Voluptatibus, iste quas. Aut pariatur atque quam nulla veniam sunt, repellendus corporis,
    itaque earum cumque, enim possimus! Sapiente adipisci dolore eaque, error obcaecati quas officia illo? Quaerat,
    facere minima? Provident ut in sint ducimus?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi ut placeat velit eos harum, amet id, nam illo
    architecto nemo esse perferendis quibusdam similique rerum, est porro a reiciendis odio aliquam consequuntur! Harum
    distinctio inventore alias fugit recusandae, repudiandae autem dolorem. Repellat minima quidem quae atque deleniti
    amet? Enim ipsum praesentium, velit aliquid molestias voluptatem aperiam, ex provident consequatur ullam nemo
    quibusdam expedita in beatae ea nam consequuntur fugiat? Fuga quos, nesciunt vero labore fugiat aperiam facere
    obcaecati consequatur repellendus dolore voluptas quasi ab quod omnis ea voluptate illo doloremque ex nobis
    veritatis, corrupti rem consectetur voluptatem? Iusto porro nesciunt quidem? Voluptatibus tempora voluptatum vero
    esse ipsa explicabo deserunt consequuntur repudiandae, et dicta! Doloribus commodi optio quibusdam aliquid
    consequatur culpa facilis mollitia tenetur numquam adipisci, magnam nostrum est porro distinctio sapiente omnis
    totam corporis ad maiores voluptatibus doloremque reprehenderit id. Perspiciatis atque expedita harum ducimus minus
    quasi quaerat animi voluptatibus pariatur veniam maiores, quis, ex inventore iste nihil fugiat cum velit nobis unde,
    delectus nostrum. Ex fugit eligendi nulla rem, eveniet tempora dolorem qui consectetur autem provident mollitia
    dolore, aspernatur magnam natus deserunt saepe possimus animi. Voluptas eius quidem quaerat. Molestias ipsum
    expedita eaque sint, sit quibusdam facilis voluptatibus pariatur?</p>
</div>
{% endblock %}