{% extends 'layout.html' %}
{% block content %}
<div class="container">
  {% if logged_in %}
  <h1>Hello, {{ username }}!</h1>
  <a href="/cas/logout">Logout</a>
  {% else %}
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple Flask + CAS template you can use for RCOS projects or student projects in general.
    </p>
    <hr class="my-4">
    <p>Feel free to create a repo based on this template and then build off of it!</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/Apexal/flask-cas-template" role="button">Go to repo</a>
  </div>
  {% endif %}
</div>
{% endblock %}